.list{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    
    display: flex;
    flex-direction: row;
}
.tabledata{
    border:1px solid black;
    border-radius: 0.5rem;
}
.comp{
    background-color: red;
    width:10vw;
    padding:1rem;
}
.you{
    background-color: aqua;
    width:10vw;
    padding:1rem;
}
.tr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
    font-size:32px;
}